

  <mat-form-field>
    <mat-label>Select your airline company</mat-label>
    <mat-select [(ngModel)]="currentCompany" (selectionChange)="onSelectionChange($event)" class="mat-select">
      <mat-option class="mat-option" value="{{company.id}}" *ngFor="let company of companies" >{{company.name}}</mat-option>
    </mat-select>
  </mat-form-field>

<div *ngIf="currentCompany !== undefined">

  <div><h2>{{currentCompany.name}} cancellation policy</h2></div>

  <form (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-label>Flight status : </mat-label>
        <mat-select name="flightStatus" [ngModel]="currentCompany.cancellationPolicy.flightStatus" (selectionChange)="changeStatus($event)">
          <mat-option *ngFor="let status of keys(flightStatuses)" [value]="status">{{flightStatuses[status]}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Date until when the flight are {{this.currentCompany.cancellationPolicy.flightStatus}}</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field>
        <mat-label>General informations</mat-label>
        <textarea matInput name="generalInfo" [(ngModel)]="currentCompany.cancellationPolicy.generalInfo"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Conditions</mat-label>
        <textarea matInput name="conditions" [(ngModel)]="currentCompany.cancellationPolicy.conditions"></textarea>
      </mat-form-field>

      <button type="submit">Save</button>
  </form>

</div>
